@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  font-family: 'Poppins', sans-serif;
} */

.outlet-box {
    flex: 1 1 0%;
    margin-top: 5rem!important;
    background: #d1d5db!important;
    padding: 0!important;
}

.animated-dialog {
    animation: slideInDown 0.3s ease-in-out;
  }
  
  @keyframes slideInDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.tooltip-container {
  z-index: 9999;
  position: absolute;
  /* Agrega cualquier otro estilo necesario para la tooltip */
}